body{
	overflow-anchor: none;
    font-family: "GT-Eesti 3r",Arial,sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #363636;
}
#heading{
	font-size:30px;
	margin: auto;
	position: relative;
	text-align: center;
	background: #e6dada;
	height: 70px;
	padding-top: 5px;
}
.bm-burger-button{
	top:20px;
}
.main-area{
	position: relative;
	top: 30px;
}
.left-col{

}
.right-col{
	
}